@page
@model HelpModel
@{
    ViewData["Title"] = "Help";
}

<h1 class="mainHdHelpPage">Welcome to the help guide for Reserve Your Table!</h1>

<h2 class="subHdHelpPage">Register/Login</h2>
    <p>When using "Reserve Your Table" you want to first sign into your account or register if you don't have one.</p>

<h3 class="subHdHelpPage">Search for a resturaunt</h3>
    <p>After you have registered for an account, you want to sign in and search for a resturaunt.</p>

<h4 class="subHdHelpPage">Check availability</h4>
    <p>When you have found your resturaunt, select a table from the grid and time that best fits your schedule.</p>

<h5 class="subHdHelpPage">Order & Pay</h5>
    <p>View the resturaunt's menu and place your order(s). Complete your payment through our safe and secure payment system, Stripe.</p>

<h5 class="subHdHelpPage">Sit back and enjoy your food!</h5>
    <p>You're all done! Sit back and wait for your food... Remember to take all necessary precautions when food is being delivered.</p>

<h6 class="FAQHdHelpPage"> Frequently Asked Questions (FAQ)</h5>
    <p>Question: Why can't I reserve a table at a resturaunt?
        <br>Answer: You must first register for an account and sign in with us.
    </p>
    <p>Question: Why is the time slot I want to choose grayed out?
        <br>Answer: If the time slot is grayed out this means the table at that specific time is already booked.
    </p>
    <p>Question: What are the available services for payment?
        <br>Answer: Stripe is our main payment system were you will be able to pay with credit/debit cards and it also accepts Google or Apple Pay.
    </p>
