@page
@model RestHelpModel
@{
    ViewData["Title"] = "Resturaunt Help";
    Layout = "_LayoutForRestaurant";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Restaurant Help</h1>
</div>

<h1 class="subHdHelpPage">Login</h1>
<p>Use your restaurant's username and password to login to the restaurant portal.</p>

<h2 class="subHdHelpPage">Update</h2>
<p>On the "Update" page, you can update the restaurant's contact information, menu items, seating, or account information.</p>

<h3 class="subHdHelpPage">Manage</h3>
<p>The "Manage" page will allow you to manage customers' reservations, accept reservations, and manually add walk in reservation details.</p>

<h4 class="subHdHelpPage">Confirm</h4>
<p>On the "Confirm" page, you will be able to see customers' payment information, then you can accept and confirm the customers' payments.</p>