@page
@model UpdateAccountSetModel
@{
    ViewData["Title"] = "Resturaunt Account Settings";
    Layout = "_LayoutForRestaurant";
}

<div class="text-center">
    <h1 class="display-4">Update Account Settings</h1>
    <p>Please select an option to update</p>

        <form action="action_page.php" style="border:1px solid #ccc">
        <div class="text-center">
        <p>Edit information and press submit to save changes</p>
        <hr>

        <label for="pswd"><b>Update Password</b></label>
        <input type="password" placeholder="Enter New Password" name="pswd">

        <br>

        <label for="pswdRepeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat New Password" name="pswdRepeat">

        <br>

        <div class="clearfix">
            <a href="/RestUpdate"> <button type="button" class="submitInfo">Submit</button> </a>
        </div>
    </div>
</form>
</div>


